<div class="col s6 m4 l3">
  <div class="card" style="height: 720px">
    <div class="card-image">
      <img src="<%= movie.poster %>" alt="<%= movie.title %>">

      <%# <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a> %>
      <% unless session[:cart].include?(movie.id.to_s) %>
        <%= link_to '<i class="material-icons">add_shopping_cart</i>'.html_safe, add_to_cart_path(movie.id), method: :post,
        class: "btn-floating halfway-fab waves-effect waves-light red"%>
      <% else %>
        <%= link_to '<i class="material-icons">remove_shopping_cart</i>'.html_safe, remove_from_cart_path(movie.id, "home"), method: :delete,
        class: "btn-floating halfway-fab waves-effect waves-light red"%>
      <% end %>
    </div>
    <div class="movie-card-title">
      <h5><%= movie.title %></h5>
    </div>
    <div class="card-content">
      <p><%= truncate(movie.description, :length => 150) %><%= link_to 'Read more', movie %></p>
      <p><%= number_to_currency movie.price / 100.0 %></p>
    </div>
  </div>
</div>