<h5>Shopping Cart (<%= @cart.size %>)</h5>
<table>
  <thead>
    <tr>
      <th>Product Details</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.each do |cart_item| %>
    <tr>
      <td>
        <img src="<%= cart_item.poster %>" alt="<%= cart_item.title %>">
        <%= cart_item.title %>
      </td>
      <td>
        <%= session[:cart].fetch(cart_item.id.to_s) %>
        <%= link_to '[+]', increase_quantity_url(cart_item), method: :post %>
        <%= link_to '[-]', decrease_quantity_url(cart_item), method: :post %>
        <%= link_to '[Remove]', remove_from_cart_path(cart_item), method: :delete %>
      </td>
      <td><%= number_to_currency cart_item.price / 100.0 %></td>
      <td><%= number_to_currency cart_item.price * session[:cart].fetch(cart_item.id.to_s) / 100.0 %></td>
    </tr>
  <% end %> 
  </tbody>
</table>
<%= button_to "Checkout", checkout_create_path, remote: true unless @cart.size == 0 %>
