<h1>Movies R Us - Home</h1>
<%= paginate @movies %>
<details>
  <summary>Shopping Cart (<%= @cart.size %>)</summary>
  <ul>
    <% @cart.each do |cart_item| %>
      <li>
        <%= cart_item.title %> - (x<%= session[:cart].fetch(cart_item.id.to_s) %>) <%= link_to '[+]', increase_quantity_url(cart_item), method: :post %>
        <%= link_to '[-]', decrease_quantity_url(cart_item), method: :post %>
        <%= link_to '[Remove]', remove_from_cart_path(cart_item), method: :delete %>
      </li>
    <% end %>
  </ul>
</details>

<% @movies.each do |movie| %>
  <div class="row">
    <%= render partial: 'movie',
              object: movie,
              locals: { show_link: false } 
    %>
<% end %>
