<%= paginate @movies %>

<div class="row" style="margin-top: 50px">
  <h5>Search movies by genre:</h5>
  <%= render 'movies/search_form' %>
</div>

<p>
  Found <%= pluralize(@movies.size, 'result') %>
  for the search term "<%= params[:title] %>".
</p>

<div class="row">
  <%= render partial: 'movies/movie',
             collection: @movies,
             locals: { show_link: true } %>
</div>